<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps - Expert Submission</title>
  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="#0C356A">
</head>
<body>

<nav id="main-nav">
  <a class="skip-link" href="#my-main-content" tabindex="0">Skip to Content</a>
  <div class="left-section">
    <div class="logo">Dion Restaurant</div>
  </div>
  <div class="right-section">
    <a href="/">Home</a>
    <a href="#">Favorite</a>
    <a href="https://www.linkedin.com/in/dionisius-rizky" target="_blank">About Us</a>
  </div>
  <!-- Ganti elemen button dengan tag <button> -->
  <button class="hamburger" aria-label="Toggle Navigation">&#9776;</button>
</nav>

<div class="hero">
  <img src="images/heros/hero-image_4.jpg" alt="Hero Image">
</div>

<div class="restaurant-list" id="my-main-content">
  <!-- Daftar Restoran akan ditambahkan secara dinamis di sini -->
</div>

<footer>
  <p>&copy; 2023 - Dion Restaurant. All rights reserved.</p>
</footer>

<!-- Tambahkan registrasi service worker -->
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/service-worker.js')
      .then(registration => {
        console.log('Service Worker registered with scope:', registration.scope);
      })
      .catch(error => {
        console.error('Service Worker registration failed:', error);
      });
  }
</script>

<script src="../scripts/index.js"></script>
<script defer type="module" src="../scripts/detail.js"></script>



</body>
</html>
